#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to top left, #417079, #39AECF, #99d8e8);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
};
.even {
  background: #898888d4;
  overflow: auto; 
};

.odd {
  overflow: auto;
  background: #FF9473;
}